.menu {
  border: 1px solid #ccc;
}


.menu .list-item {
  position:relative;
}
.menu .list-item.current {
  background-color: #ff4700;
}

.menu .list-item.selected {
  background-color: #bbb;
}

.menu .list-item.registered:after {
  position: absolute;
  top: 2px;
  right:2px;
  content: '@';
  font-weight: bold;
  font-size: 18px;
}

.menu .list-item.current span,
.menu .list-item.selected span,
.menu .list-item.current:after {
  color: white;
}