.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}