
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 500px 50px; /* TODO: auto */
  grid-gap: 8px;
  grid-template-areas: 
    "header header header"
    "menu main main"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.main {
  border: 1px solid #ccc;
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.footer {
  grid-area: footer;
}

.menu {
  border: 1px solid #ccc;
  grid-area: menu;
}