
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 500px 50px; /* TODO: auto */
  grid-gap: 8px;
  grid-template-areas: 
    "header header header"
    "menu content content"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

.menu {
  grid-area: menu;
}